@page "/"
@attribute [Authorize(Roles = "Admin")]


<PageTitle>Home</PageTitle>

<div class="text-center">
	<h1>@_languageTable["HelloWorld"]</h1>
@* 	<RadzenCard>
	<RadzenText TextStyle="TextStyle.H4">Radzen Heading 4</RadzenText>
		<RadzenChart>
			<RadzenLineSeries Smooth="true" Data="@" CategoryProperty="Date" Title="Temp" ValueProperty="">
				<RadzenMarkers MarkerType="MarkerType.Circle" />
				<RadzenSeriesDataLabels Visible="false" />
			</RadzenLineSeries>
			<RadzenValueAxis Min="-5" Max="60">
				<RadzenGridLines Visible="true" />
			</RadzenValueAxis>
		</RadzenChart>
	</RadzenCard>

	<RadzenCard>
	<RadzenText TextStyle="TextStyle.H4">Radzen Heading 4</RadzenText>
		<RadzenChart>
			<RadzenLineSeries Smooth="true" Data="@" CategoryProperty="Date" Title="Humid" ValueProperty="">
				<RadzenMarkers MarkerType="MarkerType.Circle" />
				<RadzenSeriesDataLabels Visible="false" />
			</RadzenLineSeries>
			<RadzenValueAxis Min="0" Max="100">
				<RadzenGridLines Visible="true" />
			</RadzenValueAxis>
		</RadzenChart>
	</RadzenCard>

	<RadzenCard>
	<RadzenText TextStyle="TextStyle.H4">Radzen Heading 4</RadzenText>
		<RadzenChart>
			<RadzenColumnSeries Data="@" CategoryProperty="Quarter" Title="2020" LineType="LineType.Dashed" ValueProperty="">
				<RadzenSeriesDataLabels Visible="@true" />
			</RadzenColumnSeries>
			<RadzenColumnOptions Radius="5" />
			<RadzenValueAxis Formatter="@FormatAsUSD">
				<RadzenGridLines Visible="true" />
			</RadzenValueAxis>
		</RadzenChart>
	</RadzenCard> *@
</div>

