<RadzenCard class="m-3">
	<div class="row">
		<div class="col-8">
			<RadzenText TextStyle="TextStyle.H4">Power</RadzenText>
			<RadzenChart>
				<RadzenColumnSeries Data="@_telemetryData" CategoryProperty="SQLTStamp" Title="Kilo Watt Hour" ValueProperty="KiloWattHour">
					<RadzenSeriesDataLabels Visible="@true" />
				</RadzenColumnSeries>
				<RadzenColumnOptions Radius="5" />
				<RadzenValueAxis Min="0" Max="150">
					<RadzenGridLines Visible="true" />
				</RadzenValueAxis>
			</RadzenChart>
		</div>
		<div class="col-4">
			<RadzenCard class="m-3">
				<RadzenText TextStyle="TextStyle.Subtitle2" TagName="TagName.H3" Text="@_languageTable["DatePicker"]" />
				<RadzenDatePicker TValue="DateTime?" ShowTime="true" ShowSeconds="true" HoursStep="1" MinutesStep="5" SecondsStep="10" Change=@(args => OnTempDateChange(args)) DateFormat="yyyy-MM-dd HH:mm:ss" Class="w-100" />
			</RadzenCard>
		</div>
	</div>
</RadzenCard>